html {
    height: 100%;  /* height for the whole entire page  */
    
  }

  Body{  /* margin 0 so no white spaces  */
    margin:0;
    background-size: cover; /* background size to cover the whole screen and no repeat to have it not repeast  */
    background-repeat: no-repeat;
    min-height: 100%;
}

.container{ /* container height and  */
    height: 100vh;
    width: 100vw;
    
}

.link{
    float: left;
    text-align: center;
    margin-top: 10rem;
    font-size: 2rem;
}

a{
    color:white; /* color of a tag  */
    font-weight: bold;
    text-align: center;
  
}


h1{
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 3rem;
}

#red1{
position: absolute;
right: 0;
bottom: 8vh;
transform: rotateY(180deg);
}

#blue1{
color:blue;
position: absolute;
bottom: 8vh;

}