html {
    height: 100%;
    
  }
  Body{
    margin:0;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
}

.container{
    height: 100vh;
    width: 100vw;
    
}

a{
    color:white;
    font-weight: bold;
    height: 30rem;
  
}

.link{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 30rem;
}

#red1{
position: absolute;
right: 0;
bottom: 8vh;
transform: rotateY(180deg);
}

#blue1{
color:blue;
position: absolute;
bottom: 8vh;

}