 Body{
    min-height: 100vh; /* margin 0 so no white spaces /*  */
    margin: 0;
 }
 

.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: url( "images/bridge.gif");
    background-size: cover; /* background size to cover the whole screen and no repeat to have it not repeast */
    background-repeat: no-repeat;
    
}

.header{
    display: flex;
    justify-content: center;
    text-align: center;
}

h1{
    font-weight: bold;
    color: white;
    font-size: 3rem;
    padding-top: 17rem;
}

.link{
    display: flex;
    justify-content: center;
    height: 50vh;
    padding-top:10rem; 
}

a{
    color:black; /* color of a tag  */
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
}
  
button{
    height: 5rem;
    width: 15rem;
}

#red1{
position: absolute;
right: 0;
bottom: 8vh;
transform: rotateY(180deg);
}

#blue1{
color:blue;
position: absolute;
bottom: 8vh;

}

nav{
    display: flex;
   flex-direction: row;
   justify-content: flex-end;
  
    color: white;
    list-style-type: none;
    margin-top: 1rem;
}

li{
   padding: .5rem; 
   font-size: 2rem;
}

@media  screen (max-width: 600px), (min-width: 520px);